cat > .gitignore << EOF
# Бинарные файлы
/bin/
/build/
/out/

# Файлы сборки
*.exe
*.exe~
*.dll
*.so
*.dylib

# Конфигурационные файлы IDE
.vscode/

# Файлы с переменными окружения и секретами
.env

# Логи
*.log

# Файлы кеша
*.cache
*.tmp

# Зависимости
vendor/

# Файлы тестов профилировщика
*.prof

# Системные файлы
.DS_Store
Thumbs.db
EOF

keys/